<a href="https://colab.research.google.com/github/szabeebzaliz7-a11y/Datascience-And-Gen-AI/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create a list of 5 random numbers and print the list.

In [ ]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

2.Insert 3 new values to the list and print the updated list.

In [ ]:
my_list=[1,2,3,4,5,6,7]
print(my_list)

[1, 2, 3, 4, 5, 6, 7]

3.Try to use a for loop to print each element in the list. Topic: Dictionary

In [ ]:
my_list=[1,2,3,4,5,6,7]
for i in my_list:
  print(i)

1
2
3
4
5
6
7

4.Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [ ]:
dict={
    'name':'john',
    'age':25,
    'address':'New York'}
print(dict)

{'name': 'john', 'age': 25, 'address': 'New York'}

5.Add a new key-value pair to the dictionary created in Question 1 with key 'phone' and value '1234567890'.

In [ ]:
dict={
    'name':'john',
    'age':25,
    'address':'New York'}
new_dict={
    'phone':1234567890
}
dict.update(new_dict)
print(dict)

{'name': 'john', 'age': 25, 'address': 'New York', 'phone': 1234567890}

6.Create a set with values 1, 2, 3, 4, and 5.

In [ ]:
my_set={1,2,3,4,5}
print(my_set)

[1, 2, 3, 4, 5]

7.Add the value 6 to the set created in Question 1

In [ ]:
my_list=[1,2,3,4,5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

8.Remove the value 3 from the set created in Question 1.

In [ ]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Create a tuple with values 1, 2, 3, and 4

In [ ]:
my_tuple=(1,2,3,4)
print(my_tuple)

(1, 2, 3, 4)

10.Print the length of the tuple created in Question 1.

In [ ]:
my_list=[1,2,3,4,5]
print(len(my_list))

5